*{
    box-sizing: border-box;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
@media screen and (max-width: 1024px){
    .container{
        max-width: 720px;
    }
}

@media screen and (max-width: 768px){
    .container{
        width: 100%;
        padding: 20px;
    }
}

/**
    Style for the fixed header with the navigation bar / dropdown including responsive features
 */
header{
    background-image: url("../assets/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header a{
    text-decoration: none;
    cursor: pointer;
}

#fixed_header{
    background-color: #ffffff;
    position: fixed;
    width: 100%;
}

#fixed_header > .container {
    padding: 20px 0;
}
@media screen and (max-width: 768px){
    #fixed_header > .container {
        padding: 20px;
    }
}

#burger svg{
    display: none;
}

@media screen and (max-width: 768px){
    #full_nav{
        display: none;
    }

    #burger svg{
        display: block;
    }

    #burger{
        display: block;
        float: right;

    }

    #burger:hover #full_nav, #burger:active #full_nav {
        background-color: #fff;
        display: block;
        width: 100%;
        left: 0;
        transform: translateY(25px);
        position: absolute;
    }

    #burger:hover #full_nav ul, #burger:active #full_nav ul{
        display: block;
        width: 100%;
    }

    #burger:hover #full_nav li, #burger:hover #full_nav a {
        display: block;
        margin-top: 5px;
        padding: 5px;
        width: 100%;
        text-align: center;
    }

    #burger:hover #full_nav li:hover, #burger:hover #full_nav li:hover a{
        background-color: #00b4d9;
        color: #fff;
    }

}

#logo span {
    font-weight: 700;
}

#logo {
    color: #00b4d9;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 1.75rem;
    letter-spacing: -1px;
    font-weight: 300;
/*    display: flex;
    align-items: center;*/
}

#logo svg, #burger svg{
    width: 40px;
    height: auto;
}

#logo svg path, #burger svg path{
    fill: #00b4d9;
}

nav{
    float: right;
    margin-top: -25px;
}

 nav, ul, li{
    display: inline;
}

li a {
    text-transform: uppercase;
    color: #000;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    padding: 0 10px;
    font-size: .875rem;
    cursor: pointer;
}

li a:active, li a:hover{
    color: #00b4d9;
}

/**
 Style for the home section
 */
#home{
    padding: 200px 0 100px;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    color: #fff;
}
#home p, #home h2{
    font-family: 'Indie Flower', cursive;
    font-size: 3.75rem;

}
#home h2{
    font-size: 2rem;
}
h1{
    font-family: Montserrat, Arial, sans-serif;
    font-size: 4.75rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
}
#contact{
    margin: 20px 0;
}
#contact a, #social_network a {
    display: inline-block;
    background-color: #fff;
    border-radius: 50px;
    padding: 10px;
    margin: 5px;
}
#contact a svg, #social_network a svg {
    width: 25px;
    height: 25px;
}
#contact a:hover, #social_network a:hover {
    background-color: #00b4d9;
}
#contact a:hover svg path, #social_network a:hover svg path{
    fill: #fff;
}
@media screen and (max-width: 480px){
    #home {
        padding: 140px 0 70px;
    }
    h1 {
        font-size: 2.75rem;
    }
    #home p{
        font-size: 2.5rem;
    }
    #home h2 {
        font-size: 1.75rem;
    }
    #contact a, #social_network a {
        padding: 5px;
    }
    #contact a svg, #social_network a svg {
        width: 20px;
        height: 20px;
    }
}
/**
Style for the about section
 */
#about{
    padding: 50px 0;
}
#about .container{
    display: flex;
    align-items: stretch;
}
#about .container > div{
    width: 50%;
    margin: 0 40px;
    padding: 50px 0;
}
@media screen and (max-width: 768px){
    #about .container{
        flex-wrap: wrap;
    }
    #about .container > div{
        width: 100%;
        margin: 0;
    }
}
#photo{
    border: 5px #fff solid;
    box-shadow: 0 0 10px darkgrey;
    background-image: url("../assets/photo.jpg");
    background-size: cover;
    background-position: center top;
}
@media screen and (max-width: 768px){
    #photo{
        min-height: 400px;
    }
}
@media screen and (max-width: 480px) {
    #photo{
        min-height: 250px;
    }
}
#about .container > div:first-child{
    margin-left: 0;
}
#about .container > div:last-child{
    margin-right: 0;
}
td{
    padding-bottom: 5px;
}
td:first-child{
    font-weight: 800;
}
td:last-child::before{
    content: ':';
    font-weight: 800;
     margin: 0 40px 0 20px;
}
/**
Style for the services section
*/
#services{
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px 0;
}
h2{
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 2rem;
}
h3{
    text-transform: uppercase;
    color: #000;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 1rem;
}
#services .container > div {
    display: flex;
    margin-top: 50px;
}
.card{
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 10px darkgrey;
    max-width: 25%;
}
@media screen and (max-width: 1024px) {
    #services .container > div{
        flex-wrap: wrap;
    }
    .card{
        max-width: calc(50% - 20px);
    }
}
@media screen and (max-width: 768px) {
    .card{
        max-width: 100%;
    }
}
.card svg{
    margin: 20px 20px 40px 20px;
    width: 40px;
    height: 40px;
}
.card svg path{
    fill: #00b4d9;
}
#about p, #about table, .card p, footer p{
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: .875rem;
    line-height: 1.8;
    margin: 10px 0 20px;
}

/**
 Style for the buttons
 */
.main_button{
    background-color: #00b4d9;
    color: #fff;
    padding: 10px 15px;
    margin: 10px 5px 0 0;
    border-radius: 2px;
    text-transform: uppercase;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 700;
    font-size: .875rem;
    text-decoration: none;
    display: inline-block;
    border: 2px transparent solid; /* évite que le bouton ne saute lors du survol */
    cursor: pointer;
}
.main_button:hover{
    background-color: transparent;
    color: #00b4d9;
    border: 2px #00b4d9 solid;
}
#cv::before{
    content: '';
    mask: url('../assets/link.svg') no-repeat 50% 50%;
    mask-size: cover;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #fff;
    margin-right: 10px;
}
#contact_button{
    background-color: #dc3546;
}
#contact_button:hover{
    background-color: transparent;
    color: #dc3546;
    border: 2px #dc3546 solid;
}
#contact_button::before{
    content: '';
    mask: url('../assets/address-card.svg') no-repeat 50% 50%;
    mask-size: cover;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #fff;
    margin-right: 10px;
}
/** todo: changer la couleur de fond des masques au survol */

/**
Style for the footer
 */
footer{
    background-color: #000;
    text-align: center;
    padding: 50px 0;
}
footer p{
    color: #fff;
}
#social_network{
    margin: 20px 0
}
